body {
  font-family: sans-serif;
  margin: 0%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  color: #f7c8e0;
  background-color: #060047;

  margin-bottom: 50%;
  position: relative;
  z-index: 1;

  margin-bottom: var(--footer-height);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 16px 5px;

  line-height: 2;

  color: #f7c8e0;
  width: 100vw;
  height: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 0;
  height: var(--footer-height);
  width: 100vw;
}

footer a {
  color: goldenrod;
}

/* @media (min-width: 768px) {
    footer {
        justify-items: space-between; 
        flex-direction: row;
          gap: 4px;
    }
  } */

:root {
  --footer-height: 16.25rem;
}
